@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background: #020617;
  color: #fff;
}

/* Force Sandpack to fill its container */
.sp-wrapper {
  height: 100% !important;
}

.sp-layout {
  height: 100% !important;
}

.sp-stack {
  height: 100% !important;
}

.sp-preview-container {
  height: 100% !important;
}

.sp-preview-iframe {
  height: 100% !important;
}
